networks:
    app_network:
        driver: bridge

services:
    php:
        build:
            context: docker/php
        container_name: php
        restart: always
        volumes:
            - ./project:/var/www/html
            - ./docker/php/php.ini:/usr/local/etc/php/php.ini:ro
            - ./var/log/php:/var/log/php
        networks:
            - app_network

    nginx:
        image: nginx:latest
        container_name: nginx
        restart: always
        volumes:
            - ./project/public:/var/www/html/public
            - ./var/log/nginx:/var/log/nginx
            - ./docker/nginx/conf.d:/etc/nginx/conf.d
        networks:
            - app_network
        ports:
            - "${NGINX_HOST}:${NGINX_PORT}:80"
        depends_on:
            - php

    mysql:
        image: mysql:8.0
        container_name: mysql
        restart: always
        volumes:
            - ./var/data/mysql:/var/lib/mysql
            - ./var/log/mysql:/var/log/mysql
        ports:
            - "${MYSQL_HOST}:${MYSQL_PORT}:3306"
        networks:
            - app_network
        environment:
            MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}

    redis:
        image: redis:alpine
        container_name: redis
        restart: always
        ports:
            - "${REDIS_HOST}:${REDIS_PORT}:6379"
        networks:
            - app_network
        volumes:
            - ./var/data/redis:/data

    phone_operator_mock:
        build:
            context: ./docker/phoneOperatorMock
        container_name: phone_operator_mock
        restart: always
        ports:
            - "8000:8000"
        networks:
            - app_network
