services:
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    App\:
        resource: '../src/'
        exclude:
            - '../src/Kernel.php'
            - '../**/{Contract,DTO,ValueObject,Model,Enum,Trait,Event,Entity,Exception}/*.php'

    App\Infrastructure\Http\PhoneOperator\HtmlWeb\HtmlWebPhoneOperatorGetter:
        $apiUrl: '%env(HTMLWEB_API_URL)%'
        $apiKey: '%env(HTMLWEB_API_KEY)%'
