{% extends 'base.html.twig' %}

{% block title %}Начальная страница{% endblock %}

{% block body %}
    <h1>Symfony</h1>
    <p>Hello{% if name is not empty %} <b>{{ name }}</b>{% endif %}!</p>
{% endblock %}
