{% extends 'base.html.twig' %}

{% block title %}Начальная страница{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center mt-4">
        <a href="{{ path('app_client_registration') }}" class="btn btn-primary">
            {{ 'scoring.title'|trans }}
        </a>
    </div>
{% endblock %}
